*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 29.3vw;
    height: 70.5vh;
    border: 1px solid rgba(80, 76, 76, 0.197);
    margin: 105px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 24vw;
    height: 57vh;
    display: flex;
    flex-direction: column;
}

.box .img{
    width: 100%;
    height: 3.5vh;
    text-align: center;
}

.sign-in{
    width: 100%;
    height: 11vh;
    text-align: center;
}

.sign{
    width: 100%;
    height: 65%;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.sign span{
    position: absolute;
    font-size: 22px;
    margin-top: 17px;
    margin-left: -36px;
}

.g-account{
    width: 100%;
    height: 35%;
    font-family: arial;
    position: relative;
}

.g-account span{
    position: absolute;
    margin-top: 5px;
    margin-left: -92px;
}

.input{
    display: flex;
    justify-content: space-between;
}